body {
  background-color: black;
  font-family: "Helvetica Neue", Helvetica, Sans-Serif;
}

.container {
  background-color: white;
  display: block;
  margin: auto;
  border-radius: 5px;
}

.zip {
  color: red;
  margin: auto;
}

.options {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;

}

.option {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5;
  border: 2px solid blue;
  border-radius: 2px;

  
}

.city {
  float: right;
  margin-right: 100px
}

div {
  padding: 5px;
  margin: 5px;
}

.powered {
  display: block;
  margin: auto;
  font-size: 20px;
  font-family: "Helvetica Neue", Helvetica, Sans-Serif;
  font-weight: bold;
  text-align: center;
  
}